<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">
            <h5>List of Clients to be Visit</h5>
            <!-- <span class="badge badge-success float-right">Success</span> -->
          </div>
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                      <div class="container mt-3">
                          <div class="media border p-3">
                            <img src="/assets/img/map.png" alt="John Doe" class="mr-3 img">
                            <div class="media-body" >
                              <h4>Hospital</h4>
                              <div>John</div>
                              <div>Planned from 12/26/2018</div>
                              <!-- <div>Company Information</div>
                              <div>Purpose of Visit <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo" style="color:red;float:right;padding:0px;">More</button></div> 
                              <div id="demo" class="collapse">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              </div>     -->
                            </div>
                          </div>
                        </div>
                  </td>
                </tr>
                <tr>
                    <td>
                        <div class="container mt-3">
                            <div class="media border p-3">
                              <img src="/assets/img/map.png" alt="John Doe" class="mr-3 img" (click)="location()">
                              <div class="media-body" >
                                <h4>Hospital</h4>
                                <div>John</div><div>Company Information</div><div>Purpose of Visit</div>      
                              </div>
                            </div>
                          </div>
                    </td>
                  </tr>
              </tbody>
  
            </table>
            <!-- <div class="container mt-3">
              <div class="media border p-3">
                <img src="/assets/img/map.png" alt="John Doe" class="mr-3 img">
                <div class="media-body" >
                  <h4>Hospital</h4>
                  <div>John</div><div>Company Information</div><div>Purpose of Visit</div>      
                </div>
              </div>
            </div> -->
          </div>
          <!-- <div class="card-body">
            <div class="container mt-3">
              <div class="media border p-3">
                <img src="/assets/img/map.png" alt="John Doe" class="mr-3 img">
                <div class="media-body" >
                  <h4>College</h4>
                  <div>John</div><div>Company Information</div><div>Purpose of Visit</div>      
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-md-8">
        <div class="card" style="padding-top:10px;">
          <customer-calender-component></customer-calender-component>
            <!-- <div class="card-header">
            Card with label
            <span class="badge badge-pill badge-danger float-right">42</span>
          </div>
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          </div> -->
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
    
  </div>
 