.card-body{
    padding:1.25rem;
  }
  .card {
    margin-bottom: 1.875em;
    border-radius: 5px;
    padding: 0;
    border: 0px solid transparent;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.08); }
    .card .box-title {
      font-weight: 600;
      font-size: 1.5em;
      padding: 5px 0; }
  
  .stat-widget-five .stat-text {
    color: white;
    font-size: 20px;
    margin-left:7%; 
  }
  
  .stat-widget-five .stat-heading {
    color: white;
    font-size: 14px;
    margin-left:7%; 
   }
  
    .flat-color{
      
      margin-left: 85%;
      font-size: 3rem;
      color: white;
      margin-top: -3.8rem;
  
    }

    .modal-footer{
        border:none;
    }
    .ov-h {
      overflow: hidden; }
      
      .order-table {
        position: relative;
    }

      .order-table {
        position: relative; }
        .order-table:after, .order-table:before {
          content: "";
          position: absolute;
          top: 0px;
          height: 37px;
          /* width: 10px; */
          background: #e8e9ef; }
        .order-table:after {
          right: -1px; }
        .order-table:before {
          left: -1px; }
        .order-table tr th {
          background: #e8e9ef; }
        .order-table tr td:last-child, .order-table tr th:last-child {
          text-align: right; }
        .order-table tr:last-child td {
          border: none; }
        .order-table .badge {
          color: white;
          padding: 10px;
          text-transform: uppercase;
          font-weight: normal; }
          .table-stats table {
            font-family: 'Open Sans'; }
            .table-stats table th,
            .table-stats table td {
              border: none;
              border-bottom: 1px solid #e8e9ef;
              color: #868e96;
              font-size: 12px;
              font-weight: normal;
              padding: .75em 1.25em;
             }
              .table-stats table th img,
              .table-stats table td img {
                margin-right: 10px;
                max-width: 45px; }
              .table-stats table th .name,
              .table-stats table td .name {
                color: #343a40;
                font-size: 14px;
                text-transform: capitalize; }
            .table-stats table td {
              color: #343a40;
              font-size: 14px;
              font-weight: 600;
              text-transform: capitalize;
              vertical-align: middle; }

              .table td {word-wrap:break-word;}
              .icon-lg {
                font-size: 4.68em;
                color:white;
            }
            .fw-r{
              font-weight: normal;
              font-size: 1.75rem;
              color:white;
            }

            .text-light{
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              margin-top: .25rem!important;
              color:white !important;
            }